[submodule "_jmsd_cmake_settings"]
	path = _jmsd_cmake_settings
	url = https://github.com/jiteman/_jmsd_cmake_settings.git
[submodule "_jmsd_platform_support"]
	path = _jmsd_platform_support
	url = https://github.com/jiteman/_jmsd_platform_support.git
[submodule "_jmsd_jitemania_components"]
	path = _jmsd_jitemania_components
	url = https://github.com/jiteman/_jmsd_jitemania_components.git
[submodule "_jmsd_foreign_components"]
	path = _jmsd_foreign_components
	url = https://github.com/jiteman/_jmsd_foreign_components.git
[submodule "_jmsd_documents_and_support"]
	path = _jmsd_documents_and_support
	url = https://github.com/jiteman/_jmsd_documents_and_support.git
[submodule "_jmsd_tpa_components"]
	path = _jmsd_tpa_components
	url = https://github.com/jiteman/_jmsd_tpa_components.git
